<nav>
  <div class="nav nav-pills mb-3" role="tablist">
    {% for interval in site.data.usage-charts.intervals %}
    <a class="nav-item nav-link {% if forloop.index == 1 %} active {% endif %}" id="nav-{{ interval.id }}-tab"
      data-toggle="tab" href="#nav-{{ interval.id }}" role="tab" aria-controls="nav-{{ interval.id }}"
      aria-selected="true">{{ interval.name }}</a>
    {% endfor %}
  </div>
</nav>

<div class="tab-content">
  {% for interval in site.data.usage-charts.intervals %}
  <div class="tab-pane fade {% if forloop.index == 1 %} show active {% endif %}" id="nav-{{ interval.id }}"
    role="tabpanel" aria-labelledby="nav-{{ interval.id }}-tab">
    <canvas id="{{ interval.id }}-chart"></canvas>
  </div>
  {% endfor %}
</div>