body {
  overflow-x: hidden;
}

#wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .sidebar {
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &.toggled {
    margin-right: 250px;
    .sidebar {
      width: 250px;
    }
  }
}

.sidebar-nav {
  position: absolute;
  top: 16px;
  width: 250px;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 56px;
    a {
      display: block;
      color: #999;
      &:hover {
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
