body {
  overflow-x: hidden;
}

.sidebar,
.content {
  height: 100%;
  overflow-y: auto;
  -webkit-transition: margin 0.25s ease-in;
  -moz-transition: margin 0.25s ease-in;
  -o-transition: margin 0.25s ease-in;
  transition: margin 0.25s ease-in;
}

.sidebar {
  margin-right: -$sidebar-width;
  width: $sidebar-width;
  position: fixed;
  right: 0;
  background: black;
}

.content {
  margin-right: 0;
}

#wrapper.toggled {
  .sidebar {
    margin-right: 0;
  }
  .content {
    margin-right: $sidebar-width;
  }
}

@media (min-width: 768px) {
  .content {
    margin-right: 0;
    min-width: 0;
    width: 100%;
  }
}

.sidebar-nav {
  margin-top: 16px;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 56px;
    a {
      display: block;
      color: #999;
      &:hover {
        color: white;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
